.canvas-div {
	/*background: #CDCEFF;*/
}

.info-div {
	/*background: #FFC0C6;*/
	padding-left: 0px;
}

.station {
	fill:white;
	stroke: #4D4D4D;
	stroke-width: 4;
}

.station-number {
	clear: both;
	float: left;
	position: relative;
	font-weight: bold;
}

.path {
  z-index: -1;
  stroke-width: 7;
}

.taxi {
  stroke: #EFBB00;
}

.bus {
  stroke: #00AB2C;
}

.ug {
  stroke: #FF45AE;
}

.black {
  stroke: black;
}
