.station {
	fill:white;
	stroke: #4D4D4D;
	stroke-width: 4;
}

.path {
  z-index: -1;
  stroke-width: 7;
}

.taxi {
  stroke: #EFBB00;
}

.bus {
  stroke: #00AB2C;
}

.ug {
  stroke: #FF45AE;
}

.black {
  stroke: black;
}

.player-canvas {
	/*border: 1px solid black;
	background-color: gray;
	margin: 0px 2px 0px 2px;*/
}
